ConvexityAdjustment-Lib/.idea/*
ConvexityAdjustment-Lib/.vs/*
ConvexityAdjustment-Lib/ConvexityAdjustment-Lib/bin/*
ConvexityAdjustment-Lib/ConvexityAdjustment-Lib/obj/*
ConvexityAdjustment-Lib/ConvexityAdjusmentUnitTests/bin/*
ConvexityAdjustment-Lib/ConvexityAdjusmentUnitTests/obj/*
Latex/paper.aux
Latex/paper.log
Latex/paper.out
Latex/paper.pdf
Latex/paper-resum.aux
Latex/paper-resum.log
Latex/paper-resum.blg
Latex/paper-resum.bbl
Latex/paper-resum.out
Latex/paper-resum.pdf
ConvexityAdjustment-Lib/ConvexityAdjustment-Lib.sln.DotSettings.user
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/bin/*
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/*
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/bin/Debug/net6.0/ConvexityAdjustmentUnitTests.runtimeconfig.json
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/bin/Debug/net6.0/ConvexityAdjustmentUnitTests.deps.json
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/ConvexityAdjustmentUnitTests.csproj.nuget.dgspec.json
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/ConvexityAdjustmentUnitTests.csproj.nuget.g.props
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/ConvexityAdjustmentUnitTests.csproj.nuget.g.targets
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.AssemblyInfo.cs
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.AssemblyInfoInputs.cache
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.assets.cache
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.csproj.AssemblyReference.cache
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.csproj.CopyComplete
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.csproj.CoreCompileInputs.cache
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.csproj.FileListAbsolute.txt
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.dll
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.GeneratedMSBuildEditorConfig.editorconfig
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.genruntimeconfig.cache
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.GlobalUsings.g.cs
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ConvexityAdjustmentUnitTests.pdb
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/ref/ConvexityAdjustmentUnitTests.dll
ConvexityAdjustment-Lib/ConvexityAdjustmentUnitTests/obj/Debug/net6.0/refint/ConvexityAdjustmentUnitTests.dll
